# Node modules
node_modules/

# Logs
logs
*.log

# Env files
.env

# npm-debug
npm-debug.log*

# Yarn
yarn-error.log

# Optional npm cache directory
.npm

# Other IDE/OS-specific files
.DS_Store
.vscode/
.idea/